In [ ]:
import pandas as pd
import numpy as np
import datetime

In [ ]:
#bring in CSV
df= pd.read_csv("Name.csv")

In [ ]:
#melt
df.melt(['column_name'], var_name='column_name', value_name='')

In [ ]:
#convert to CSV
df.to_csv('name.csv')

In [ ]:
#drop column
gdp_df = gdp_df.drop(columns =['columnname'])

In [ ]:
#what years are in this file?

years_df=gdp_df.Year.value_counts().to_frame().reset_index().rename(columns = {'index' : 'Year', 'Year':'count'})
years_df

In [ ]:
#find and replace one item 
df.column_name=df.column_name.str.replace('in','')
#find and replace multiple item 
df.column_name=df.column_name.str.replace('in','').str.replace('lb', '')

In [ ]:
# value_counts as dataframe
df['course_difficulty'].value_counts().to_frame()

In [ ]:
value_counts = df['course_difficulty'].value_counts()

# converting to df and assigning new names to the columns
df_value_counts = pd.DataFrame(value_counts)
df_value_counts = df_value_counts.reset_index()
df_value_counts.columns = ['unique_values', 'counts for course_difficulty'] # change column names
df_value_counts

In [ ]:
#merge 2 df's on column 

combined = pd.merge(mseeds1, dseeds1, on='index')
combined

In [ ]:
#add seed mother and pollinator father value counts 
combined['total'] = combined['seed_mother'] + combined['pollinator_father']
combined

In [ ]:
 #add "First" Test Column to Database
first_testing = first_test_unique.assign(Test = 'First')